<mat-form-field class="search-input">
  <mat-label>Search...</mat-label>

  <input matInput type="text" [(ngModel)]="inputSearch" (input)="onSearch()" />

  <button color="primary" matSuffix mat-icon-button (click)="onSearch()">
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>

<div *ngIf="filteredCards.length == 0">Nothing found ¯\_(ツ)_/¯</div>

<mat-grid-list [cols]="cols" gutterSize="10px" rowHeight="410px">
  <mat-grid-tile *ngFor="let card of filteredCards">
    <mat-card>
      <mat-card-header style="text-align: center; display: block">
        <mat-card-title>{{ card.title }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <img src="../../assets/home.jpg" />

        <p class="asdf">{{ card.description }}</p>
      </mat-card-content>

      <mat-card-footer>
        <a mat-raised-button color="primary">SHOW</a>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
