<mat-card>
  <mat-card-header style="text-align: center; display: block">
    <mat-card-title>Welcome to my central recipe-storage</mat-card-title>
    <mat-card-subtitle>- Samuel E.</mat-card-subtitle>
  </mat-card-header>

  <img
    mat-card-image
    src="../../assets/home.jpg"
    alt="Photo of a recipe book"
  />

  <br />

  <mat-card-content>
    <p>
      I like to cook a lot of different dishes. But it often happens to me that
      I forget to write down the recipe. So if I want to prepare it again, I
      have to search for it - and sometimes I can not even find it!
    </p>

    <p>
      Therefore this little application has two purposes: <br />
      <b>1.</b> keeping my recipes in one central space and <br />
      <b>2.</b> practicing angular
    </p>
  </mat-card-content>
</mat-card>
